.customWhiteText {
  color: white;
}

/* Begin Self Typing Developer */

.selfTypingText {
  font-size: 12pt;
  letter-spacing: unset;
}

/* End Self Typing Developer */

.m-b-15 {
  padding-top: 45px;
}

.removeSpaceForMobileText {
  margin-bottom: 20px !important;
}

/* Add text "Double tap 'Download Resume' to view */
@media only screen and (min-width: 550px) {
  .mobileDownloadResumeText {
    display: none;
  }
}

/* Formatting for my LinkedIn and GitHub profiles */
.linkedInAndGitHub {
  color: white;
}

/* Simple class for Verdana font */
.verdanaFont {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Class just for removing the default uppercase */
.removeUppercase {
  text-transform: none;
}

.customPaddingTopSubheading {
  padding-top: 25px;
}

/* Need a custom color for the additional links to GitHub and LinkedIn to go with the footer color */
.footerLinkColor {
  color: azure;
}

/* Padding for the Featured Projects section (slides-navigation arrows) on mobile display */
@media (max-width: 500px) {
  .paddingForMobileDisplay1 {
    padding-bottom: 120px;
  }
  .paddingForMobileDisplay2 {
    padding-bottom: 70px;
  }

  .m-b-15 {
    padding-top: 0px;
  }
}

#customDownPad {
  padding-bottom: 95px;
}

.disabledUppercase {
  text-transform: none;
}

.digitalPortfolioBanner {
  text-transform: none;
  text-align: right;
}
